.basic{ padding:0 0 80px 0; background:#fdefe5; margin-top:9px;}
.basic .basic_title{ width:100%; height:24px; position:relative; overflow:hidden;}
.basic .basic_title span{ display:inline-block; height:100%; width:33%; background:#d2d2d2; float:left; text-align:center; line-height:24px;}
.basic .basic_title .s1{ background:#f9d3b7; }
.basic .basic_title .s1 a{ color:#eb6100; font-size:14px; border-bottom:1px solid #eb6100; font-weight:bold;}
.basic .basic_title .s2 a{ color:#fff; font-size:14px; border-bottom:1px solid #fff; font-weight:bold;}
.basic .basic_title .s3{ width:34%;}
.basic .basic_title .s3 a{ color:#fff; font-size:14px; border-bottom:1px solid #fff; font-weight:bold;}

.basic .basic_title label{ position:absolute; top:0;}
.basic .basic_title .l1{ left:33%; height:100%; width:13px; background:url(../images/basic_atr.gif) 0 0 no-repeat;}
.basic .basic_title .l2{ left:66%; height:100%; width:13px; background:url(../images/basic_atr.gif) 0 -24px no-repeat;}

.basic .basic_lt{ float:left; width:54%; padding:55px 2% 0 4%;}
.basic .basic_rt{ float:left; width:36%; padding:55px 2% 0 2%;}

.basic .basic_lt .p1{ color:#000; font-size:18px; padding-bottom:34px;}
.basic .basic_lt .p1 label{ color:#ed7019;}

.basic .basic_lt div{ padding-bottom:25px;}
.basic .basic_lt div span{ float:left; font-size:14px;}
.basic .basic_lt div span p{ color:#000; padding:10px 0;}
.basic .basic_lt div span input{ height:22px; border:1px solid #ed7019; margin-right:22px;}

.basic .basic_lt .d1 span input{ width:138px;}
.basic .basic_lt .d2 span input{ width:217px;}
.basic .basic_lt .d3 span input{ width:138px;}
.basic .basic_lt .d3 span select{ height:24px; margin-right:22px; border:1px solid #ed7019;}
.basic .basic_lt .d4 span input{ width:161px;}

.basic .basic_rt p{ color:#ed721b; line-height:30px;}
.basic .basic_rt .p1{ font-size:18px;}
.basic .basic_rt .p2{ font-size:14px; font-weight:bold;}
.basic .basic_rt .link{ text-align:right; padding-top:90px;}
.basic .basic_rt .link a{ color:#ed7019; font-size:18px; border-bottom:1px solid #ed7019;}
