<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>OrderOnline - place order</title>
<link rel="stylesheet" href="__PUBLIC__/Index/css/reset.css" />
<link rel="stylesheet" href="__PUBLIC__/Index/css/public.css" />
<link rel="stylesheet" href="__PUBLIC__/Index/css/top.css" />
<link rel="stylesheet" href="__PUBLIC__/Index/css/detail.css" />
<link rel="stylesheet" href="__PUBLIC__/Index/css/foot.css" />
<link rel="stylesheet" href="__PUBLIC__/Index/css/order.main.css" />

<script type="text/javascript" src="__PUBLIC__/Index/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/Index/js/jquery-extend-order.js"></script>
<script type="text/javascript" src="__PUBLIC__/Index/js/main.js"></script>
<script type="text/javascript" src="__PUBLIC__/Index/js/public.js"></script>
<!--<script src="http://maps.google.cn/maps?file=api&ampv=2&ampkey=your key&sensor=true" type="text/javascript"></script>-->
</head>

<body>
	<div class="container">
    	<include file="Index:head" />
    	<include file="Index:search" />
        
    	<include file="Index:resinfo" />
            <div class="context">
              <div class="menu">
            	<div class="title">
                    Click whatever you like to start your order1.
                </div>
<!-- 订单信息开始 -->
                <div class="checkout-details">
                    <div class="info">
                        <form ng-show="location" class="address" name="locationform">
                            <div ng-hide="currentGroup==='l'" class="">
                                <h3 ng-hide="orderPickup" class="">Delivery information</h3>
                                <p ng-hide="orderPickup" class="ng-binding">
                                    Papa John's Pizza 
                                    <strong class="ng-binding">Delivery Thu 09/04/2014 at 12:00am</strong>  
                                    to  
                                    <strong><span ng-hide="editAddr" class="ng-binding">218 W 23RD PL, CHICAGO, IL 60616</span></strong> 
                                    <a ng-hide="editAddr || currentGroup==='l'" ng-click="editAddr = true" class="">(edit)</a>
                                </p>
                            </div>
                            <div ng-show="editAddr" class="address-fields">
                        <div class="form-field" ng-hide="currentGroup==='l'">
                            <input ng-model="location.street" type="text" placeholder="Enter street address" id="street-input" class="ng-pristine ng-valid">
                        </div>
                        <div class="form-field city" ng-hide="currentGroup==='l'">
                            <input ng-model="location.city" type="text" placeholder="Enter city" id="city-input" class="ng-pristine ng-valid">
                        </div>
                        <div class="form-field state" ng-hide="currentGroup==='l'">
                            <select ng-model="location.state" id="state-input" class="ng-pristine ng-valid">
                                <option value="">State</option>
                                <option value="AL">AL</option>
                                <option value="AK">AK</option>
                                <option value="AZ">AZ</option>
                            </select>
                        </div>
                        <div class="form-field zip" ng-hide="currentGroup==='l'">
                            <input ng-model="location.zipCode" type="text" placeholder="Enter zip code" id="zip-input" pattern="[0-9]*" maxlength="5" class="ng-pristine ng-valid">
                        </div>
                    </div>
                            <div class="form-field unit" ng-hide="orderPickup">
                                <input ng-blur="saveUnit()" ng-model="location.unit" type="text" placeholder="Apartment suite, unit number, or company name" id="unit-input" class="ng-pristine ng-valid">
                            </div>
                            <div class="form-field phone">
                                <input ng-model="location.phone" type="tel" placeholder="(###) ###-####" id="phone-input" pattern="^(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}$" ng-blur="validatePhoneFormat($event);" class="ng-pristine ng-valid">
                            </div>
                            <div class="form-field" ng-hide="orderPickup">
                                <input ng-blur="saveInstructions()" ng-model="specialInstructions" type="text" placeholder="Special instructions" id="instructions-input" class="ng-pristine ng-valid">
                            </div>
                        </form>
                        <div ng-show="payments.paymentMethods" class="payments">
                            <h3>Payment information</h3>
                            <div class="payment-info">
                                <ul class="card-tab">
                                    <li><a class="hover" href="#">Credit card</a></li>
                                    <li><a href="#">Cash</a></li>
                                </ul>

                                <div ng-show="isActivePaymentType('credit')" class="credit-and-other">
                                    <div class="credit-new">
                                        <label ng-click="addCreditCard()">Add new card</label>
                                    </div>
                                </div>

                                <div ng-show="isActivePaymentType('credit')" ng-controller="TipCtrl" class="line-total">
                                    <p>
                                        <span> Tip amount </span>
                                        <span class="ng-binding"> (15%) </span>
                                    </p>
                                    <div class="amount">
                                        <a ng-click="setTipPercent(10)" ng-class="{'active': (activeTab === 10)}" class="tip-percent">10%</a>
                                        <a ng-click="setTipPercent(15)" ng-class="{'active': (activeTab === 15)}" class="tip-percent hover">15%</a>
                                        <a ng-click="setTipPercent(20)" ng-class="{'active': (activeTab === 20)}" class="tip-percent">20%</a>
                                        <input type="text" ng-model="tip" ng-blur="formatCurrentTip()" id="tip-input" class="ng-pristine ng-valid">
                                    </div>
                                </div>

                                <div ng-show="isActivePaymentType('credit')" ng-class="{'active': isActivePaymentType('credit')}" class="other-payments active">
                                    <p>Credits and promos</p>
                                </div>

                                <div class="cart-info" ng-include="'views/partials/cartInfo.html'">
                                   
                                    <p>
                                        <span class="label">Subtotal: </span>
                                        <span class="value ng-binding"> 16.00 </span>
                                    </p>
                                    <p ng-show="cartInfo.tip" class="">
                                        <span class="label ng-binding">Tip (15%): </span>
                                        <span class="value ng-binding">2.40 </span>
                                    </p>
                                    <p>
                                        <span class="label">Tax: </span>
                                        <span class="value ng-binding"> 1.68 </span>
                                    </p>
                                    <div class="total">
                                        <strong class="label">Total: </strong>
                                        <strong class="value ng-binding"> $20.08 </strong>
                                    </div>
                                    <div class="check-btn"><a href="#">Place order</a></div>
                               
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
<!-- 订单信息结束 -->

               </div>

    	    <include file="Index:order" />
            
            </div>
        </div>
    </div>
    <div class="foot"></div>
    <div class="popup_layer"></div>
<if condition='cookie("OrderOnlineAuth") neq ""'>
    <div class="shopping_cart">
   
        <div class="cart_title clearfix" flag=true>
            <a class="lt" num="0" href="#">Your Order</a>
            <a class="rt" href="#">{$ordernum}</a>
        </div>
        
        <ul>
         <volist name="order" id="vo">
            <li class="clearfix">
                <a href="javascript:;" class="area lt">{$vo['item_name']}</a>&nbsp;<span class="price rt">${$vo['price']}</span>
                <a href="javascript:;" class="name lt">{$vo['quantity']} Piece,{:substr($vo['item'],0,13)}</a>
                <span class="num rt"><a class="reduce" href="javascript:;" s_id="{$vo['id']}"></a><span class="qty">{$vo['quantity']}</span><a class="add" href="javascript:;" s_id="{$vo['id']}"></a></span>
            </li>
            
            </volist>
            <li class="last"><a href="{:U('Member/yourOrder')}">Ready</a></li>
        </ul>
       
    </div>
   </if>
<script type="text/javascript">
$(document).ready(function()
{
    $("#btn_go").click(function()
    {
        $("#form").submit();
        return false;
    });

    $(".reduce").live('click',function(){
        var val = parseInt($(this).siblings(".qty").html());
        if(val>1){
            var old_price = $(this).parents('.orderitem').find('.price').html().substr(1);
            var unit_price = $(this).parents('.orderitem').attr('data-price');
            var newprice = parseFloat(old_price) - parseFloat(unit_price);

            $(this).siblings(".qty").html(val-1);
            $(this).parents('.orderitem').find('.price').html('$' + newprice.toFixed(2));
        }else{
            $(this).parents(".orderitem").remove();
        }
        var id = $(this).attr("s_id");
        $.post("{:U('Dishes/reduceQty')}",{id:id},function(){
        },'json');
        calSubTotal();
    })

    $(".add").live('click',function(){
        var val = parseInt($(this).siblings(".qty").html());	
        var old_price = $(this).parents('.orderitem').find('.price').html().substr(1);
        var unit_price = $(this).parents('.orderitem').attr('data-price');
        var id = $(this).attr("s_id");
        
        var newprice = parseFloat(old_price) + parseFloat(unit_price);
        $(this).parents('.orderitem').find('.price').html('$'+ newprice.toFixed(2));
        $(this).siblings(".qty").html(val+1);
        $.post("{:U('Dishes/addQty')}",{id:id},function(){
        });
        calSubTotal();
    });

    function calSubTotal(){
        //var subTotal = parseFloat($(".orderItem").find(".price").html().substr(1))-price;
        var subTotal = 0;
        $('.orderitem').each(function(){
            subTotal += parseFloat($(this).find('.price').html().substr(1)); 
        });

        var tax = subTotal * 0.05;
        var allTotal = subTotal + tax;
        $('.sub-total').html('$' + subTotal.toFixed(2));
        $('.tax').html('$' + tax.toFixed(2));

        $('.all-total').html('$' + allTotal.toFixed(2));
        //console.log(subTotal);
    };

    calSubTotal();

    $(".order").smartFloat();
});
</script>
</body>
</html>

